.avatar {
    width: 35px;
    border-radius: 50%;
}

.info {
    display: flex;
    align-items: center;
}

.name {
    margin-left: 16px;
}

.likes {
    margin-top: 10px;
}

.text {
    word-wrap: break-word;  
    margin-top: 10px;
}