.header {
    grid-area: head;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    padding: 10px 0 10px 0;
    top: 0px;
    z-index: 5;
}

.logo {
    width: 40px;
}

.image {
    margin-left: 20px;
}