.app-wrapper {
    display: grid;
    width: 1200px;
    grid-template-areas: 
    "head head"
    "nav cont";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    margin: 0 auto;
}

.header {
    grid-area: head;
    background-color: green;
}

.nav {
    grid-area: nav;
    background-color: yellow;
}

.content {
    grid-area: cont;
    background-color: blue;
}

.header img {
    width: 20px;
}