.app-wrapper {
    margin: 0 auto;
    background-color: #fff;
    min-width: none;

}

.app-wrapper-content {
    width: 100%;
}

.app-content {
    display: flex;
}

.app-navbar {
    width: 220px;
    position: sticky;
    top: 0px
}