.app-wrapper {
    margin: 0 auto;
    background-color: #fff;
    color: rgb(78	93	120	);
}

.app-wrapper-content {
    width: 80%;
}

.app-content {
    display: flex;
}

.app-navbar {
    width: 20%;
    position: sticky;
    top: 0px
}